[Unit]
Description=
Before=systemd-oomd.service

[Service]
ExecStart=/usr/bin/Fyn-PwrPrf.sh Y
ExecStop=/usr/bin/Fyn-PwrPrf.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
