[Unit]
Description=Automatic upgrader
After=basic.target

[Service]
Type=oneshot
User=root
ExecStart=/bin/topgrade --skip-notify -y
IOSchedulingPriority=7
IOSchedulingClass=best-effort
Nice=19

[Install]
WantedBy=multi-user.target
