[Unit]
Description=Automatic system upgrade
ConditionPathExists=/run/ostree-booted
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/bin/topgrade
IOSchedulingPriority=0
IOSchedulingClass=realtime
Nice=-5

[Install]
WantedBy=multi-user.target
