[Unit]
Description=Automatic upgrader
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/bin/topgrade --skip-notify -y
IOSchedulingPriority=0
IOSchedulingClass=realtime
Nice=-5

[Install]
WantedBy=multi-user.target
