[Unit]
Description=BOINC Client
Wants=vboxdrv.service
After=vboxdrv.service network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/lib/boinc
ExecStart=/usr/bin/boinc
ExecStopPost=/bin/rm -f lockfile
IOSchedulingClass=idle
IOSchedulingPriority=4
Restart=always
RestartSec=1
Nice=19

[Install]
WantedBy=multi-user.target
