[Unit]
Description=Timed refinement of your system. May be risky in production environments.
After=network.target

[Service]
User=root
ExecStart=bash /etc/fyn-bins/refyne.fish

[Install]
WantedBy=multi-user.target
