[Unit]
Description=Timed refinement of your system. May be risky in production environments.
After=network.target

[Service]
User=root
ExecStart=/bin/bash /etc/fynelium-bins/refyne.bash
IOSchedulingClass=realtime
IOSchedulingPriority=0

[Install]
WantedBy=multi-user.target
