[Unit]
Description=Timed refinement
After=network-online.target

[Service]
User=root
ExecStart=/bin/fish /etc/fynelium-bins/refyne.fish
IOSchedulingClass=realtime
IOSchedulingPriority=0

[Install]
WantedBy=multi-user.target
