[Unit]
Description=GDM
After=basic.target
OnFailure=plymouth-quit.service

[Service]
ExecStart=/bin/gdm
KillMode=mixed
Restart=always
RestartSec=1
IgnoreSIGPIPE=no
BusName=org.gnome.DisplayManager
EnvironmentFile=-/etc/locale.conf
ExecReload=/bin/kill -SIGHUP $MAINPID
KeyringMode=shared

[Install]
Alias=display-manager.service
