[Unit]
Description=Automatic rpm-ostree upgrade
ConditionPathExists=/run/ostree-booted
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=rpm-ostree upgrade -q --trigger-automatic-update-policy --peer
ExecStartPost=rpm-ostree apply-live --allow-replacement
IOSchedulingPriority=0
IOSchedulingClass=idle

[Install]
WantedBy=multi-user.target