[Unit]
Description=Automatic timed rpm-ostree updater
ConditionPathExists=/run/ostree-booted

[Timer]
Unit=rpm-ostreed-automatic.service
OnUnitInactiveSec=3h
Persistent=true

[Install]
WantedBy=timers.target