[Unit]
Description=snowflake-proxy
After=network-online.target docker.socket firewalld.service
Wants=network-online.target

[Service]
ExecStart=/usr/bin/snowflake-proxy

[Install]
WantedBy=multi-user.target