[Unit]
Description=snowflake-proxy
After=network-online.target docker.socket firewalld.service
Wants=network-online.target

[Service]
ExecStart=/usr/bin/snowflake-proxy
IOSchedulingClass=idle
IOSchedulingPriority=4
Restart=always
RestartSec=1
Nice=19

[Install]
WantedBy=multi-user.target