[Unit]
Description=ZRAM creator
After=network.target

[Service]
User=root
ExecStart=/usr/bin/fish /etc/fynelium-bins/swappity.fish

[Install]
WantedBy=multi-user.target