[Unit]
Description=Critical system warning indicator
Documentation=
ConditionVirtualization=no
DefaultDependencies=no
After=systemd-battery-check.service
Before=shutdown.target
Conflicts=shutdown.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/systemd-bsod -c
