[Unit]
Description=Critical system warning indicator
ConditionVirtualization=no
DefaultDependencies=no
After=systemd-battery-check.service
Before=shutdown.target
Conflicts=shutdown.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/systemd-bsod -c
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target