[Unit]
Description=
After=multi-user.target NetworkManager.service
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/tlp init start
ExecReload=/usr/sbin/tlp start
ExecStop=/usr/sbin/tlp init stop
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target