[Unit]
Description=
After=multi-user.target NetworkManager.service
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@TLP_SBIN@/tlp init start
ExecReload=@TLP_SBIN@/tlp start
ExecStop=@TLP_SBIN@/tlp init stop

[Install]
WantedBy=multi-user.target