[Unit]
Description=Setup ZRAM and reserve ZSwap
After=basic.target

[Service]
Type=oneshot
ExecStart=/etc/redneck-bin/zramNzswap.fish
User=root

[Install]
WantedBy=multi-user.target
