[Unit]
Description=ZRAM Init for Silverblue
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/silverbluebins/zram-init.fish
RemainAfterExit=yes
Nice=-15
User=root

[Install]
WantedBy=multi-user.target
