[Unit]
Description=ZRAM Tweaking for Silverblue
After=zram-init.service

[Service]
Type=oneshot
ExecStart=/etc/silverbluebins/zram.fish
Nice=-15  # high priority - quick tweaks
