[Unit]
Description=Set ZRAM and reserve ZSwap
After=basic.target

[Service]
Type=oneshot
ExecStart=/etc/redneck-bin/mem-mgr.fish
User=root

[Install]
WantedBy=multi-user.target
