[Unit]
Description=Automatic upgrader. Don't care about other package managers. Professionals have standards.
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
User=root
ExecStart=/etc/redneck-bin/autopgrade.fish
IOSchedulingPriority=7
Nice=19

[Install]
WantedBy=multi-user.target
