[Service]
Type=simple
WorkingDirectory=/opt/mcbe-server
ExecStart=/usr/bin/tmux new-session -s bedrock -d '/opt/mcbe-server/bedrock_server'
ExecStop=/usr/bin/tmux kill-session -t bedrock
RemainAfterExit=yes
StandardInput=tty
StandardOutput=journal
Nice=19

[Install]
WantedBy=multi-user.target
