[Unit]
Description=GNOME Display Manager

After=graphical-pre.target
Wants=graphical-pre.target

# Replace console getty on tty1
Conflicts=getty@tty1.service
After=getty@tty1.service

# Don’t let multi-user-target or network delays block the GUI
Conflicts=network-online.target
Before=multi-user.target

[Service]
ExecStart=/usr/bin/gdm
KillMode=mixed
Restart=always
BusName=org.gnome.DisplayManager
EnvironmentFile=-/etc/locale.conf
ExecReload=/bin/kill -SIGHUP $MAINPID
KeyringMode=shared

[Install]
Alias=display-manager.service
WantedBy=graphical.target
