[Unit]
Description=Hourly system maintenance activator
After=network-online.target
ConditionPathExists=/run/ostree-booted
Wants=network-online.target

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
