[Unit]
Description=Sets up ZRAM, even though many inbuilt alternatives exist...
After=basic.target

[Service]
Type=oneshot
ExecStart=/etc/redneck-bin/mem-mgr.fish
User=root

[Install]
WantedBy=multi-user.target
