[Unit]
Description=playit.gg is a port forwarding service, meant for gaming.
After=basic.target
Before=shutdown.target

[Service]
Type=simple
WorkingDirectory=/opt
ExecStart=/opt/playitgg start
IOSchedulingPriority=6
Restart=always
Nice=15
User=root

[Install]
WantedBy=multi-user.target
