[Unit]
Description=Refresh, clean and update your system
After=network-online.target
Wants=network-online.target
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
User=root
ExecStart=/bin/env /bin/fish /etc/fn-components/refyne.fish
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
