[Unit]
Description=Timer for automatic system tweaks
ConditionPathExists=/run/ostree-booted

[Timer]
OnUnitInactiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
