[Unit]
Description=System maintenance
After=network-online.target
ConditionPathExists=/run/ostree-booted
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/fish /etc/redneck-bin/refyne.fish

[Install]
WantedBy=multi-user.target
