[Unit]
Description=System maintenance activator
After=network-online.target
ConditionPathExists=/run/ostree-booted
Wants=network-online.target

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
