[Unit]
Description=System maintenance
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/bin/env /bin/fish /etc/redneck-bin/refyne.fish

[Install]
WantedBy=multi-user.target
