[Unit]
Description= Auto-updater for RPM OSTree
Documentation=man:rpm-ostree(1) man:rpm-ostreed.conf(5)
After=network-online.target
Wants=network-online.target
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/rpm-ostree upgrade -q --peer --trigger-automatic-update-policy --allow-downgrade --bypass-driver
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
