[Unit]
Description=Maintains system settings to be constant or ensures that they stay fixed.
After=network-online.target
Wants=network-online.target
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
User=root
ExecStart=/bin/env /bin/fish /etc/redneck-bin/setcnsis-fyne.fish

[Install]
WantedBy=multi-user.target
