[Unit]
Description=Display Boot-Time Emergency Messages In Full Screen
Documentation=man:systemd-bsod.service(8)
ConditionVirtualization=no
DefaultDependencies=no
After=systemd-battery-check.service
Before=shutdown.target
Conflicts=shutdown.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/systemd-bsod -c

[Install]
WantedBy=multi-user.target
