[Unit]
Description=Power Management
After=basic.target
Before=shutdown.target

[Service]
User=root
Type=simple
RemainAfterExit=yes
ExecStart=/bin/tlp init start
IOSchedulingPriority=0
Restart=always
RestartSec=1
Nice=-15
CPUAffinity=0
CPUSchedulingPriority=99

[Install]
WantedBy=multi-user.target
