[Unit]
Description=uBlue All In One daily updater
Wants=network-online.target

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
