[Unit]
Description=Universal Blue All in one Update enforcer
After=network-online.target
Wants=network-online.target

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
