[Unit]
Description=uBlue All In One updater

[Service]
Type=oneshot
ExecStart=/usr/bin/uupd --disable-progress --hw-check
SELinuxContext=system_u:unconfined_r:unconfined_t:s0
User=root
Nice=18
IOSchedulingClass=best-effort
IOSchedulingPriority=7
RestrictRealtime=false

[Install]
WantedBy=multi-user.target
