[Unit]
Description=Universal Blue All in one Updater
Wants=network-online.target

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
